<mat-toolbar class="toolbar" color="primary">
  <span>Angular material</span>
  <span class="spacer"></span>
  <a href="#">Home</a>
  <a href="#">News</a>
  <a href="#">Contact</a>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="icon favorite-icon"
    aria-label="icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="icon" aria-label="icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
